.constrBtn_active {
  width: 17rem;
  height: 4.5rem;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  padding-top: .3rem;
}

.constrBtn_active:before {
  content: "";
  display: block;
  background-image: url("../../assets/icons/constr_active.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.7rem;
  height: 2.7rem;
}

.constrBtn {
  width: 17rem;
  height: 4.5rem;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  padding-top: .3rem;
}

.constrBtn:before {
  content: "";
  display: block;
  background-image: url("../../assets/icons/constr.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 2.7rem;
  height: 2.7rem;
}
