.screen {
  width: 38rem;
  height: 9rem;
  border-radius: 6px;
  background: #F3F4F6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 44px;
  color: #111827;
  padding: .4rem 1rem;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}